---
name: go-binaries

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - v*

permissions:
  contents: write

jobs:
  binaries:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        id: source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup golang
        id: golang
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: .go-version

      - name: Run generate
        id: generate
        run: make generate

      - name: Run release
        id: release
        run: make release

      - name: Sign release
        id: gpgsign
        if: startsWith(github.ref, 'refs/tags/')
        uses: cbrgm/pgp-sign-artifact-action@08a23454921d1c67af7301e520d4ef7efdc9ef25 # v1.0.2
        with:
          private_key: ${{ secrets.GNUPG_KEY }}
          passphrase: ${{ secrets.GNUPG_PASSWORD }}
          detach_sign: true
          files: dist/*
          excludes: dist/*.sha256

      - name: Create GitHub Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true
          files: "dist/*"
          token: ${{ secrets.BOT_PAT_TOKEN }}

      - name: Update version tags
        uses: cbrgm/semver-tag-sync-action@390e6e14a7deaaecc0d628768dfc0fc1df34ca1c # v1.0.2
        if: startsWith(github.ref, 'refs/tags/v')

...
